.footerSec {
    padding-top: 70px;
    padding-right: 100px;
    padding-bottom: 56px;
    padding-left: 100px;
    background-image: url("https://uploads-ssl.webflow.com/60be6e42ecea08f815b762c3/6153b832d6a443c082ea0751_clouds.svg");
    background-repeat: repeat,repeat;
    background-position-x: 50%, 0px;
    background-position-y: 50%, 0px;
    background-size: auto,auto;
}

.headerList{
    display: grid;
    height: 200px;
    padding-top: 0;
    column-gap: 16px;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 24px;
    grid-template-rows: auto auto auto auto auto;
}

.footerDisplay{
    display: flex;
    padding-top: 56px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    align-content: space-between;
    background-image: url("https://uploads-ssl.webflow.com/60be6e42ecea08f815b762c3/6153bfb4eae09f1855880868_footer-image.svg");
    background-position-x: 100%;
    background-position-y: 0px;
    background-size: contain;
    background-repeat: no-repeat;
}

.listContent {
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.zeptoFooterImage {
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.socialMedia_Footer {
    display: grid;
    padding-left: 136px;
    align-self: center;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    column-gap: 16px;
    row-gap: 24px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}

.instagram_footer{
    padding-left: 30px;
    background-image: url("https://uploads-ssl.webflow.com/60be6e42ecea08f815b762c3/60de986c87a8575534bf3ad2_instagram_icon.svg");
    background-position-x: 0px;
    background-position-y: 50%;
    background-size: auto;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 20px;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

a {
    background-color: transparent;
    cursor: pointer;
}

.facebook_footer {
    padding-left: 30px;
    background-image: url("https://uploads-ssl.webflow.com/60be6e42ecea08f815b762c3/60de986c2ce59f7fc15c656d_facebook_icon.svg");
    background-position-x: 0px;
    background-position-y: 50%;
    background-size: auto;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 20px;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.twitter_footer {
    padding-left: 30px;
    background-image: url("https://uploads-ssl.webflow.com/60be6e42ecea08f815b762c3/60de986c2f499be1dc0f3848_twitter_icon.svg");
    background-position-x: 0px;
    background-position-y: 50%;
    background-size: auto;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 20px;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.linkedIn_footer{
    padding-left: 30px;
    background-image: url("https://uploads-ssl.webflow.com/60be6e42ecea08f815b762c3/60de986c2691637c5d1da3cc_linkedin_icon.svg");
    background-position-x: 0px;
    background-position-y: 50%;
    background-size: auto;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 20px;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.empty_footer{
    color : #3c006b
}