body{
    background-color: #3c006b;
    font-family: Poppins,sans-serif;
    color: #fff;
    font-size: 24px;
    margin: 0;
    min-height: 100%;
    line-height: 20px;
}




#zeptoImg{
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 120px;
}



.navBody{
     padding-right: 100px;
    padding-left: 100px; 
    background-color: transparent;
    position: relative;
    text-size-adjust: 100%;
}

 /*.navBar {
     position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto; 
    line-height: 20px;
   
} */
#nav-menu {
    display: flex;
    position: relative;
     float: right; 
} 


.menu-item {
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-transition: .2s;
    transition: .2s;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    /* text-decoration: none;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto; */
}

/* img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 120px;
} */