.App {
    position: static;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    padding-top: 56px;
    padding-right: 130px;
    padding-left: 0px;
    padding-right: 0px;
    perspective: 1000px;
} 


